.creek-description {
  font-family: 'Cabin', sans-serif;
  font-size: 18px;
}

.creek-header{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 26px;
}

.header2{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
}

.creek-score {
  font-family: 'Cabin', sans-serif;
  font-size: 14px;
}

.bad:hover {
  cursor: help;
}