@import url('https://fonts.googleapis.com/css?family=Cabin:400,500|Roboto+Condensed:400,700&display=swap');

.wq-feature, .wq-feature-dark {
  transition: background-color .2s;
  border-radius: 20px;
  width: 200px;
  height: 110px;
  padding: 10px 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.wq-feature {
  background-color: #dbf1fe;
}

.wq-feature-dark {
  background-color: #91b8f3;
  text-align: bottom;
}

.wq-feature :hover {
  background-color: cadetblue !important
}

.links {
  list-style: none;
  font-size: 16px;
}

li {
  list-style: none;
  font-size: 16px;
  padding-bottom: 5px;
}

.learn-more {
  font-size: 20px;
  margin: auto;
  z-index: 3;
  color: #fffffff6;
  /* animation: raise .4s ease-in-out;
  animation-fill-mode: forwards; */
}

/* @keyframes raise {
  0% {
    transform: translate(0,0);
  }
  100% {
    transform: translate(0, 30px)
  }
} */

.links :hover {
  color: #375ab9;
}

li :hover {
  color: #375ab9;
}


ul {
  padding-left: 0px;
}

.waterDrop {
  width: 40%;
}

.header {
  font-size: 20px;
  margin-top: 0;
}

.site-header {
  font-size: 55px;
}

.welcome-header,
.header,
.site-header {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
}

.welcome-header {
  font-size: 30px;
}


.welcome-text {
  font-family: 'Cabin', sans-serif;
  font-size: 18px;
}