@import url('https://fonts.googleapis.com/css?family=Cabin:400,400i&dis,500|Roboto+Condensed:400,700&display=swap');

.header-container {
  padding: 10px;
}

.menu-item {
  font-family: 'Cabin';
  font-size: 18px;
}

.menu{
  transform: translate(-50%, 50%);
}

.logo {
  width: 200px;
  margin: auto;
}

.active {
  border-bottom: 1px solid;
  border-bottom-color: rgba(0,0,0,.5);
}

.wqFeature {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  position: relative;
  width: 50%;
  background-color: #dbf1fe;
  border-radius: 20px;
  width: 200px;
  height: 110px;
  padding: 10px 8px;
  padding: 10px 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.container:hover .overlay {
  opacity: 1;
}

.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #333333;
  border-radius: 20px;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.links {
  list-style: none;
  font-size: 16px;
}

li {
  list-style: none;
  font-size: 22px;
  padding-bottom: 15px;
}

/* @keyframes raise {
  0% {
    transform: translate(0,0);
  }
  100% {
    transform: translate(0, 30px)
  }
} */
/* a {
  color: black;
} */

.links :hover {
  color: #375ab9;
}

li :hover {
  color: #375ab9;
}


ul {
  padding-left: 0px;
}

.waterDrop {
  width: 40%;
}

.header {
  font-size: 20px;
  margin-top: 0;
}

.site-header {
  font-size: 40px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.welcome-header,
.learn-header,
.header,
.site-header,
.text,
.creek-header {
  font-family: 'Roboto Condensed', sans-serif;
}

.welcome-header {
  font-size: 36px;
}

.learn-header {
  font-size: 30px;
}

.welcome-text {
  font-family: 'Cabin', sans-serif;
  font-size: 24px;
}

.creek-name {
  font-family: 'Cabin', sans-serif;
}

.creek-header{
font-size: 26px;
}