.category-description {
  font-size: 22px;
  font-style: italic;
  color: #444444
}

.description{
  font-size: 16px;
  color: #444444
}

.category {
  font-size: 26px;
}

.feature {
  font-size: 22px;
}

.feature,
.category {
  font-family: 'Roboto Condensed', sans-serif;
}

.category-description,
.description {
  font-family: 'Cabin', sans-serif;
}