.map-container {
  height: 500px;
  width: 1000px;
  z-index: 1;
}

/* twp maker */
.marker1 {
  background-image: url('../images/marker-stroked-15.svg');
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

/* ceden maker */
.marker2 {
  background-image: url('../images/marker-stroked-15-ceden.svg');
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.legend {
  background-color: rgba(252, 252, 252, .7);
  padding: 8px;
  width: 150px;
  position: absolute;
  top: 5px;
  right: 135px;
  z-index: 2;
}